#flask-limiter h1 {
  display: none;
}
a.image-reference.logo:hover {
  filter: none;
}
a.logo {
  padding-bottom: 1em;
}
body[data-theme="dark"] img.logo, body[data-theme="dark"] img.sidebar-logo {
  filter: invert(0.7) sepia(0.4);
}
.badges {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
}
.header-badge {
  padding: 2px;
}

@media only screen and (max-width: 768px) {
}
