#flask-limiter h1 {
  display: none;
}
a.image-reference.logo:hover {
  filter: none;
}
a.logo {
  padding-bottom: 1em;
}
.badges {
  display: flex;
  padding: 5px;
  flex-direction: rootow;
  justify-content: center;
}
.header-badge {
  padding: 2px;
}
