[run]
include = 
    **/flask_limiter/*
omit =
    /*/flask_limiter/_version*
    /*/flask_limiter/backports/*
    /*/flask_limiter/errors.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
