language: python
python:
    - "2.6"
    - "2.7"
    - "3.3"
    - "3.4"
    - "pypy"

install:
    - pip install -r requirements/ci.txt

services:
    - redis-server
    - memcached

script: nosetests tests --with-cov -v
after_success:
    - coveralls
