include README.rst
include LICENSE.txt
include HISTORY.rst 
include CONTRIBUTIONS.rst 
include CLASSIFIERS
include versioneer.py
recursive-include requirements *.txt
recursive-include doc/source *
recursive-include doc *.py Make*
